@import 'global';

.toast-container {
  display: flex;
  position: absolute;
  background-color: $error;
  height: 100px;
  width: 100%;
  bottom: -100px;
  z-index: 10;
}

.toast-message {
  display: flex;
  padding: 20px;
  font-size: $normal;
  color: $white;
}
