@import 'global';

.main-container {
  display: flex;
  align-items: center;
  height: 500px;
}

.side-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 300px;
}

.side-panel-text-container {
  height: 100%;
}

.game-name {
  font-size: $bigger;
  font-weight: 700;
  line-height: spacing(6);
}

.side-panel-button {
  font-size: $big;
  font-family: monospace;
  color: $white;
  background-color: $black;
  line-height: spacing(8);
  width: 200px;
  margin: spacing(1);
}

.players-list {
  height: 100%;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: spacing(6);
  padding-left: spacing(6);
  border-left: dashed 2px $white;
  margin-right: spacing(6);
  padding-right: spacing(6);
  border-right: dashed 2px $white;
}

.player-line {
  display: flex;
  justify-content: space-between;
  font-size: $big;
  line-height: spacing(5);
}

.player-name-admin {
  color: $menu-highlight-3;
}

.player-ready {
  color: $menu-green;
}

.player-notReady {
  color: $menu-red;
}
