.main-container {
  display: flex;
  align-items: center;
  height: 500px;
  padding: 30px;
  background-color: #000000;
  border-color: #32535f;
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
}

.side-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 300px;
}

.side-panel-text-container {
  height: 100%;
}

.game-name {
  font-size: 24px;
  font-weight: 700;
  font-family: monospace;
  line-height: 30px;
  color: #ffffff;
}

.side-panel-button {
  font-size: 20px;
  font-family: monospace;
  color: #ffffff;
  background-color: #000000;
  line-height: 40px;
  width: 200px;
  margin: 5px;
}

.players-list {
  height: 100%;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 30px;
  padding-left: 30px;
  border-left: dashed 2px #ffffff;
  margin-right: 30px;
  padding-right: 30px;
  border-right: dashed 2px #ffffff;
}

.player-line {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: monospace;
  line-height: 26px;
  color: #ffffff;
}

.player-name-admin {
  color: #d14fd1;
}

.player-ready {
  color: #46bd60;
}

.player-notReady {
  color: #bd4646;
}
