@import 'global';

.credentialsForm-container {
  display: flex;
  flex-direction: column;
}

.credentialsForm-title {
  font-size: $huge;
  margin-bottom: spacing(4);
}

.credentialsForm-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.credentialsForm-label {
  margin-bottom: spacing(1);
}

.credentialsForm-input {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  height: spacing(8);
  padding-left: spacing(2);
}

.credentialsForm-input:not(:last-child) {
  margin-bottom: spacing(1);
}
