@import 'global';

.credentialsForm-container {
  display: flex;
  flex-direction: column;
}

.credentialsForm-title {
  font-size: $huge;
  margin-bottom: 20px;
}

.credentialsForm-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.credentialsForm-label {
  margin-bottom: 5px;
}

.credentialsForm-input {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  height: 40px;
  padding-left: 10px;
}

.credentialsForm-input:not(:last-child) {
  margin-bottom: 5px;
}
