.credentialsForm-container {
  display: flex;
  flex-direction: column;
}

.credentialsForm-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.credentialsForm-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.credentialsForm-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.credentialsForm-input {
  height: 40px;
}

.credentialsForm-input:not(:last-child) {
  margin-bottom: 5px;
}

.credentialsForm-error {
  margin-bottom: 5px;
  font-weight: 700;
  color: pink;
}
