@import 'global';

.modal {
  z-index: 10;
}
.modal-enter {
  opacity: 0;
  transform: translateY(500px);
}
.modal-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.modal-exit {
  opacity: 1;
  transform: translateY(0px);
}
.modal-exit-active {
  opacity: 0;
  transform: translateY(500px);
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
.modal-exit-done {
  opacity: 0;
  transform: translateY(500px);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $transparent-black;
}
.overlay-enter {
  opacity: 0;
}
.overlay-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
.overlay-exit {
  opacity: 1;
}
.overlay-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.overlay-exit-done {
  opacity: 0;
}
