@import 'global';

.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authentication-title {
  font-size: $huge;
  font-weight: 700;
  margin-bottom: 20px;
}

.authentication-subtitle {
  font-size: $bigger;
  margin-bottom: 30px;
}

.forms-container {
  display: flex;
  flex-direction: row;
  & > :not(:first-child) {
    margin-left: 40px;
  }
}
