.authentication-container {
  display: flex;
  background-color: #4781ff80;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.authentication-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.authentication-subtitle {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 30px;
}

.forms-container {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}
