.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #000000;
  border-color: #32535f;
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
}

.authentication-title {
  font-size: 40px;
  font-weight: 700;
  font-family: monospace;
  color: #ffffff;
  margin-bottom: 20px;
}

.authentication-subtitle {
  font-size: 24px;
  font-family: monospace;
  color: #ffffff;
  margin-bottom: 30px;
}

.forms-container {
  display: flex;
  flex-direction: row;
  & > :not(:first-child) {
    margin-left: 40px;
  }
}
