@import 'global';

.createGameModal-form {
  width: 100%;
}

.createGameModal-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.createGameModal-input {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 5px;
}

.createGameModal-button-container {
  display: flex;
  margin-top: 5px;
  & > :not(:first-child) {
    margin-left: 10px;
  }
}

.createGameModal-button {
  font-size: 20px;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  line-height: 40px;
  width: 120px;
}
