.createGameModal-title {
  font-size: 30px;
  font-family: monospace;
  color: #ffffff;
  margin-bottom: 20px;
}

.createGameModal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.createGameModal-label {
  font-size: 16px;
  font-family: monospace;
  color: #ffffff;
  margin-bottom: 5px;
}

.createGameModal-input {
  background-color: #000000;
  font-family: monospace;
  color: #ffffff;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.createGameModal-button-container {
  display: flex;
  margin-top: 5px;
  & > :not(:first-child) {
    margin-left: 10px;
  }
}

.createGameModal-button {
  font-size: 20px;
  font-family: monospace;
  color: #ffffff;
  background-color: #000000;
  line-height: 40px;
  width: 120px;
}
