@import 'global';

.createGameModal-form {
  width: 100%;
}

.createGameModal-label {
  font-size: $normal;
  margin-bottom: spacing(1);
}

.createGameModal-input {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  height: spacing(8);
  width: 100%;
  padding-left: spacing(2);
  margin-bottom: spacing(1);
}

.createGameModal-button-container {
  display: flex;
  margin-top: spacing(1);
  & > :not(:first-child) {
    margin-left: spacing(2);
  }
}
