@import 'global';

.joinGameModal-form {
  width: 100%;
}

.joinGameModal-label {
  margin-bottom: spacing(1);
}

.joinGameModal-input {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  height: spacing(8);
  width: 100%;
  padding-left: spacing(2);
  margin-bottom: spacing(1);
}

.joinGameModal-button-container {
  display: flex;
  margin-top: spacing(1);
  & > :not(:first-child) {
    margin-left: spacing(2);
  }
}

.joinGameModal-button {
  font-size: $big;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  line-height: spacing(8);
  width: spacing(24);
}
