@import 'global';

.joinGameModal-form {
  width: 100%;
}

.joinGameModal-label {
  margin-bottom: 5px;
}

.joinGameModal-input {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 5px;
}

.joinGameModal-button-container {
  display: flex;
  margin-top: 5px;
  & > :not(:first-child) {
    margin-left: 10px;
  }
}

.joinGameModal-button {
  font-size: $big;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  line-height: 40px;
  width: 120px;
}
