@import 'global';

.main-container {
  display: flex;
  align-items: center;
  height: 500px;
}

.side-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 300px;
}

.side-panel-text-container {
  height: 100%;
}

.side-panel-welcome {
  font-size: $bigger;
  font-weight: 700;
  line-height: spacing(2);
  margin-bottom: spacing(2);
}

.side-panel-instructions {
  font-size: $big;
  line-height: spacing(1.5);
}

.side-panel-game-info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.side-panel-game-name {
  font-size: $bigger;
  line-height: spacing(2);
  color: $menu-highlight-1;
  margin-bottom: spacing(2);
}

.side-panel-game-date {
  font-size: $big;
  line-height: spacing(1.5);
}

.game-selection-button-container {
  display: flex;
  flex-direction: column;
  width: spacing(12);
  & > * {
    margin-top: spacing(0.25);
    margin-bottom: spacing(0.25);
  }
}

.games-list {
  height: 100%;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: spacing(2);
  padding-left: spacing(2);
  border-left: dashed 2px $white;
  margin-right: spacing(2);
  padding-right: spacing(2);
  border-right: dashed 2px $white;
}

.games-list-section-title {
  font-size: $huge;
  font-weight: 700;
  line-height: spacing(2);
  padding-bottom: spacing(1);
}

.games-list-section {
  & > :last-child {
    margin-bottom: spacing(1.5);
  }
}

.game-listed {
  font-size: $big;
  line-height: spacing(2);
  &:hover {
    color: $menu-highlight-1;
  }
}

.game-selected {
  font-size: $big;
  line-height: spacing(2);
  color: $menu-highlight-2;
}
