@import 'global';

.main-container {
  display: flex;
  align-items: center;
  height: 500px;
}

.side-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 300px;
}

.side-panel-text-container {
  height: 100%;
}

.side-panel-welcome {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
}

.side-panel-instructions {
  font-size: 20px;
  line-height: 25px;
}

.side-panel-game-info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.side-panel-game-name {
  font-size: 24px;
  line-height: 30px;
  color: $menu-highlight-1;
  margin-bottom: 30px;
}

.side-panel-game-date {
  font-size: 20px;
  line-height: 25px;
}

.side-panel-button {
  font-size: 20px;
  font-family: monospace;
  color: $white;
  background-color: $black;
  line-height: 40px;
  width: 200px;
  margin: 5px;
}

.games-list {
  height: 100%;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 30px;
  padding-left: 30px;
  border-left: dashed 2px $white;
  margin-right: 30px;
  padding-right: 30px;
  border-right: dashed 2px $white;
}

.games-list-section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 20px;
}

.games-list-section {
  & > :last-child {
    margin-bottom: 20px;
  }
}

.game-listed {
  font-size: 20px;
  line-height: 26px;
  &:hover {
    color: $menu-highlight-1;
  }
}

.game-selected {
  font-size: 20px;
  line-height: 26px;
  color: $menu-highlight-2;
}
