@import 'global';

.game-container {
  position: absolute;
  display: grid;
  grid-template-columns: spacing(10) auto spacing(30);
  grid-template-rows: spacing(8) auto spacing(8);
  height: 100%;
  width: 100%;
}

.buildings-panel {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: spacing(1.5);
}

.building-item-container {
  display: flex;
  column-gap: spacing(1);
}

.building-picture {
  padding: spacing(1);
}

.building-modifiers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.building-modifier-button {
  display: flex;
  align-items: center;
  height: spacing(2);
}

.top-menu-container {
  display: flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
}

.top-menu {
  display: flex;
  align-items: center;
  column-gap: spacing(1);
  width: spacing(36);
}

.exit-game-button {
  width: spacing(8);
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 2;
}

.logs-container {
  display: flex;
  column-gap: spacing(2);
  grid-column: 2;
  grid-row: 3;
}

.logs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-panel {
  grid-column: 3;
  grid-row: 2;
}

.end-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3;
  grid-row: 3;
}

.end-button {
  width: spacing(12);
}

.transition-top-enter {
  opacity: 0;
  transform: translateY(-300px);
}
.transition-top-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.transition-top-exit {
  opacity: 1;
  transform: translateY(0px);
}
.transition-top-exit-active {
  opacity: 0;
  transform: translateY(-300px);
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}

.transition-left-enter {
  opacity: 0;
  transform: translateX(-500px);
}
.transition-left-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.transition-left-exit {
  opacity: 1;
  transform: translateX(0px);
}
.transition-left-exit-active {
  opacity: 0;
  transform: translateX(-500px);
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}

.transition-center-enter {
  opacity: 0;
}
.transition-center-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
.transition-center-exit {
  opacity: 1;
}
.transition-center-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.transition-right-enter {
  opacity: 0;
  transform: translateX(500px);
}
.transition-right-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.transition-right-exit {
  opacity: 1;
  transform: translateX(0px);
}
.transition-right-exit-active {
  opacity: 0;
  transform: translateX(500px);
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}

.transition-bottom-enter {
  opacity: 0;
  transform: translateY(300px);
}
.transition-bottom-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.transition-bottom-exit {
  opacity: 1;
  transform: translateY(0px);
}
.transition-bottom-exit-active {
  opacity: 0;
  transform: translateY(300px);
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}

.transition-bottom-right-enter {
  opacity: 0;
  transform: translate(500px, 300px);
}
.transition-bottom-right-enter-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.transition-bottom-right-exit {
  opacity: 1;
  transform: translate(0px, 0px);
}
.transition-bottom-right-exit-active {
  opacity: 0;
  transform: translate(500px, 300px);
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
