@import 'global';

.monitor-button {
  font-size: $big;
  font-family: monospace;
  color: $white;
  background-color: $black;
  line-height: spacing(2.5);
  width: 100%;

  &.disabled {
    color: $disabled-grey;
    border-color: $disabled-grey;
  }
}
