// Colors
$black: #000000;
$transparent-black: #000000a0;
$white: #ffffff;
$monitor: #32535f;
$menu-highlight-1: #00ffff;
$menu-highlight-2: #ffff00;
$menu-highlight-3: #d14fd1;
$menu-green: #46bd60;
$menu-red: #bd4646;
$error: #ce0000;
