@import 'global';

.screen {
  background-color: $black;
  padding: spacing(1.5);
  margin: spacing(0.5);
  border-color: $monitor;
  border-style: solid;
  border-width: spacing(0.75);
  border-radius: spacing(1);
  font-size: $normal;
  font-family: monospace;
  color: $white;
}
