@import 'global';

.screen {
  background-color: $black;
  padding: spacing(4);
  margin: spacing(2);
  border-color: $monitor;
  border-style: solid;
  border-width: spacing(2);
  border-radius: spacing(3);
  font-size: $normal;
  font-family: monospace;
  color: $white;
}
