.authentication-enter {
  position: absolute;
  opacity: 0;
  transform: translate(-500px);
}
.authentication-enter-active {
  position: absolute;
  opacity: 1;
  transform: translate(0px);
  transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.authentication-enter-done {
  position: absolute;
}
.authentication-exit {
  position: absolute;
  opacity: 1;
  transform: translate(0px);
}
.authentication-exit-active {
  position: absolute;
  opacity: 0;
  transform: translate(-500px);
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
.authentication-exit-done {
  position: absolute;
  opacity: 0;
  transform: translate(-500px);
}

.game-selection-enter {
  position: absolute;
  opacity: 0;
  transform: translate(500px);
}
.game-selection-enter-active {
  position: absolute;
  opacity: 1;
  transform: translate(0px);
  transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.game-selection-enter-done {
  position: absolute;
}
.game-selection-exit {
  position: absolute;
  opacity: 1;
  transform: rotate(0deg) translate(0px, 0px) scale(1);
}
.game-selection-exit-active {
  position: absolute;
  opacity: 0;
  transform: rotate(720deg) translate(0px, 500px) scale(0);
  transition: transform 500ms linear, opacity 500ms ease-in;
}
.game-selection-exit-done {
  position: absolute;
  opacity: 0;
  transform: rotate(720deg) translate(0px, 500px) scale(0);
}

.loader-enter {
  position: absolute;
  opacity: 0;
}
.loader-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.loader-exit {
  position: absolute;
  opacity: 1;
}
.loader-exit-active {
  position: absolute;
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.toast-enter {
  position: absolute;
  transform: translate(0px, 0px);
}
.toast-enter-active {
  position: absolute;
  transform: translate(0px, -100px);
  transition: transform 500ms ease-out;
}
.toast-enter-done {
  position: absolute;
  transform: translate(0px, -100px);
}
.toast-exit {
  position: absolute;
  transform: translate(0px, -100px);
}
.toast-exit-active {
  position: absolute;
  transform: translate(0px, 0px);
  transition: transform 500ms ease-in;
}
